In [1]:
import dateutil
import datetime
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import yfinance as yf
import matplotlib.pyplot as plt

In [49]:
#n=int(input("Enter the number of stocks :"))

lst=[] #For storing the assets


tick=input("Enter the stock name listed in NSE : ")
tick=tick+'.NS'
lst.append(tick)
    
lst.append('^NSEI')

print(lst)

# Set the start and end date
start_date = '2016-01-01' #Beta is typically calculated on past 5 yrs data
end_date = '2021-08-03'
df=[]
for i in range(len(lst)):
    ticker=lst[i]
    data=yf.download(ticker, start_date, end_date)
    df.append(data)

Enter the stock name listed in NSE : SBIN
['SBIN.NS', '^NSEI']
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [50]:
stock_data = pd.concat(df, axis=1, ignore_index=False)
stock_data.head()

,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,
2016-01-01,225.000000,228.899994,224.500000,227.800003,220.793076,6449426,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-04,226.949997,226.949997,220.050003,220.699997,213.911453,14092071,7924.549805,7937.549805,7781.100098,7791.299805,7791.299805,134700.0
2016-01-05,222.800003,222.800003,217.000000,217.750000,211.052200,15074848,7828.399902,7831.200195,7763.250000,7784.649902,7784.649902,145200.0
2016-01-06,217.899994,219.899994,216.399994,216.850006,210.179871,11921123,7788.049805,7800.950195,7721.200195,7741.000000,7741.000000,147100.0
2016-01-07,214.000000,214.100006,209.000000,209.550003,203.104416,14342279,7673.350098,7674.950195,7556.600098,7568.299805,7568.299805,188900.0

In [51]:
pf_data=stock_data['Adj Close']
pf_data.head()

pf_data.columns=lst
pf_data.tail()

               SBIN.NS         ^NSEI
Date
2021-07-27  429.950012  15746.450195
2021-07-28  425.500000  15709.400391
2021-07-29  441.549988  15778.450195
2021-07-30  431.799988  15763.049805
2021-08-02  434.899994  15885.150391

In [52]:
log_returns = np.log(pf_data / pf_data.shift(1))
log_returns

             SBIN.NS     ^NSEI
Date
2016-01-01       NaN       NaN
2016-01-04 -0.031664       NaN
2016-01-05 -0.013457 -0.000854
2016-01-06 -0.004142 -0.005623
2016-01-07 -0.034243 -0.022562
2016-01-08 -0.002867  0.004357
2016-01-11 -0.022506 -0.004946
2016-01-12 -0.024277 -0.007105
2016-01-13  0.007494  0.006913
2016-01-14 -0.024437 -0.003391
2016-01-15 -0.061805 -0.013223
2016-01-18 -0.018068 -0.011739
2016-01-19  0.010716  0.011376
2016-01-20 -0.052171 -0.017065
2016-01-21  0.011167 -0.004456
2016-01-22  0.049983  0.019818
2016-01-25 -0.008978  0.001844
2016-01-27  0.007894  0.000215
2016-01-28  0.004599 -0.001763
2016-01-29 -0.029305  0.018535
2016-02-01 -0.040556 -0.001005
2016-02-02 -0.019583 -0.013377
2016-02-03 -0.019974 -0.012654
2016-02-04 -0.019459  0.005716
2016-02-05  0.032324  0.011428
2016-02-08  0.023212 -0.013693
2016-02-09 -0.030073 -0.012128
2016-02-10 -0.049389 -0.011369
2016-02-11 -0.030330 -0.033733
2016-02-12  0.003559  0.000659
...              ...       ...
2021-06-21  0.016454  0.004019
2021-06-22 -0.002624  0.001666
2021-06-23  0.000478 -0.005455
2021-06-24 -0.003947  0.006576
2021-06-25  0.027425  0.004417
2021-06-28 -0.004792 -0.002882
2021-06-29 -0.012379 -0.004198
2021-06-30 -0.005472 -0.001713
2021-07-01  0.002858 -0.002643
2021-07-02  0.009470  0.002688
2021-07-05  0.019253  0.007108
2021-07-06 -0.006725 -0.001017
2021-07-07  0.007188  0.003874
2021-07-08 -0.019597 -0.009602
2021-07-09 -0.001651 -0.002425
2021-07-12  0.008694  0.000178
2021-07-13  0.003853  0.007602
2021-07-14  0.004534  0.002627
2021-07-15  0.001507  0.004421
2021-07-16 -0.003946 -0.000050
2021-07-19 -0.004896 -0.010797
2021-07-20 -0.016494 -0.007666
2021-07-22  0.002729  0.012204
2021-07-23  0.016100  0.002020
2021-07-26 -0.013143 -0.001995
2021-07-27  0.015588 -0.004941
2021-07-28 -0.010404 -0.002356
2021-07-29  0.037026  0.004386
2021-07-30 -0.022329 -0.000977
2021-08-02  0.007154  0.007716

[1376 rows x 2 columns]

In [53]:
cov = log_returns.cov() * 250
cov

          SBIN.NS     ^NSEI
SBIN.NS  0.142142  0.045122
^NSEI    0.045122  0.033104

In [54]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.04512150354443939

In [55]:
market_var = log_returns['^NSEI'].var() * 250
market_var

0.03310426029577863

# Beta Calculation

In [56]:
STOCK_beta = cov_with_market / market_var
STOCK_beta

1.3630119852034022

# Expected return of the stock(CAPM)

In [57]:
STOCK_er = 0.0675 + STOCK_beta * 0.05
STOCK_er

0.13565059926017012

# Sharpe Ratio

In [58]:
print (tick)
Sharpe = (STOCK_er - 0.0675) / (log_returns[tick].std() * 250 ** 0.5)
Sharpe

SBIN.NS

0.18076278500361215