In [54]:
import dateutil
import datetime
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import yfinance as yf
import matplotlib.pyplot as plt

In [55]:
n=int(input("Enter the number of stocks :"))

lst=[]
for i in range(n):
    tick=input("Enter the stock name listed in NSE : ")
    t=tick+'.NS'
    lst.append(t)
    
print(lst)

# Set the start and end date
start_date = '1990-01-01'
end_date = '2000-08-03'
df=[]
for i in range(len(lst)):
    ticker=lst[i]
    data=yf.download(ticker, start_date, end_date)
    df.append(data)
    
#print(df)

Enter the number of stocks :3
Enter the stock name listed in NSE : Reliance
Enter the stock name listed in NSE : Infy
Enter the stock name listed in NSE : Sbin
['Reliance.NS', 'Infy.NS', 'Sbin.NS']
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[                 Open       High        Low      Close  Adj Close     Volume
Date
1996-01-01  15.859429  15.944529  15.754989  15.917452  10.509538   48051995
1996-01-02  15.878770  15.956133  15.677626  15.793671  10.427812   77875009
1996-01-03  16.052837  16.783918  15.878770  15.913584  10.506985   96602936
1996-01-04  15.762726  15.813012  15.553845  15.766594  10.409933  100099436
1996-01-05  15.704703  15.704703  15.522900  15.658285  10.338421   76935930
1996-01-08  15.627340  15.638945  14.876918  15.031645   9.924682   86288584
1996-01-09  14.586807  14.853709  14.099419  14.598411   9.638636  179415702
1996-01-10  14.312168  14.656434  14.157442  14.223200   9.390903  127653926
1996-01-11  14.080079  14.737665  14.060738  14.668038   9.684608  189051436
1996-01-12  14.776346  14.888523  14.416608  14.513312   9.582451  172918416
1996-01-15  14.470762  14.544257  14.281223  14.362454   9.482849   92291448
1996-01-16  14.312168  14.466894  14.265750  14.389531   9.500723  100259719
1996-01-17  14.312168  14.331509  13.697132  13.817044   9.122739  138279150
1996-01-18  13.465042  13.685527  13.290975  13.434097   8.869898  174217485
1996-01-19  13.248426  13.414756  13.109172  13.198140   8.714105  149773006
1996-01-22  13.240689  13.596560  13.229085  13.422493   8.862233  156270292
1996-01-23  13.468910  13.526933  12.146002  12.853874   8.486803  163795200
1996-01-24  12.741698  12.819061  12.223365  12.412905   8.195651  162072156
1996-01-25  12.385827  12.439982  11.817209  11.890704   7.850869  166534879
1996-01-26  11.890704  11.890704  11.890704  11.890704   7.850869          0
1996-01-29  11.836550  12.938973  11.763055  12.826797   8.468925  301314299
1996-01-30  13.229085  14.621620  13.035677  13.979507   9.230005  490083300
1996-01-31  13.847990  14.370190  13.325789  13.673923   9.028241  337615209
1996-02-01  13.538537  14.312168  13.499856  14.223200   9.390903  295555091
1996-02-02  14.602279  15.936792  14.602279  15.766594  10.409933  377841766
1996-02-05  16.633060  17.422163  16.134068  17.077898  11.275726  564175497
1996-02-06  17.487923  17.793507  15.286943  15.646681  10.330758  573328443
1996-02-07  14.780215  16.091518  14.625488  15.936792  10.522308  413246254
1996-02-08  16.099255  17.611704  15.936792  17.329329  11.441732  379193186
1996-02-09  17.948233  18.721863  17.337065  18.335049  12.105763  458934072
...               ...        ...        ...        ...        ...        ...
2000-06-22  51.113781  54.123203  50.015224  53.380520  41.693169  123720150
2000-06-23  53.550716  54.873627  51.833260  52.258755  40.817013  103392887
2000-06-26  51.833260  51.926094  50.788857  51.237564  40.019398   22394715
2000-06-27  51.268509  52.591415  51.075100  51.755894  40.424240   49353042
2000-06-28  51.833260  52.134975  51.446442  51.639851  40.333614   11276219
2000-06-29  51.887413  53.488827  51.817787  52.955025  41.360828   49235492
2000-06-30  53.225792  53.334103  51.987984  52.730671  41.185604   41011640
2000-07-03  52.297436  54.455868  52.297436  53.867908  42.073853   63681797
2000-07-04  53.937534  54.092258  53.233528  53.442410  41.741512   34776081
2000-07-05  53.999424  55.755566  53.628082  54.796265  42.798943   87640747
2000-07-06  54.308876  56.459572  54.154148  56.065018  43.789913   92609170
2000-07-07  56.382206  56.614296  55.701412  55.887081  43.650944   51505270
2000-07-10  56.165588  57.403400  55.492531  57.016582  44.533138   60875833
2000-07-11  57.233200  58.440063  56.714867  58.169292  45.433483   78466835
2000-07-12  57.883049  58.138348  56.939220  57.256409  44.720463   32654403
2000-07-13  57.372456  57.836632  56.165588  56.591087  44.200809   38426343
2000-07-14  56.668449  57.318298  55.639523  55.887081  43.650944   41386508
2000-07-17  56.150120  56.459572  55.314594  56.212009  43.904724   39756325
2000-07-18  55.933502  56.165588  55.128925  55.415169  43.282352   24046155
2000-07-19  55.469322  56.088226  54.540966  54.788528  42.792904   27002908
2000-07-20  54.602856  55.825191  53.689972  55.330070  43.215881   57529714
2000-07-21  55.237232  55.237232  52.955025  53.210320  41.560238   66342633
2000-07-24  52.769352  52.769352  50.154480  50.518085  39.457455   38884488
2000-07-25  49.906918  52.057610  49.543312  51.663059  40.351742   42688021
2000-07-26  52.452164  52.452164  50.131271  50.378834  39.348690   25082250
2000-07-27  50.440723  54.277931  49.837292  53.233528  41.578369   55675794
2000-07-28  53.844700  54.154148  52.483109  52.676517  41.143307   38682538
2000-07-31  52.297436  52.746143  51.910622  52.111767  40.702209   12968286
2000-08-01  51.987984  52.900867  51.926094  52.374802  40.907654   24125696
2000-08-02  52.204601  52.560471  51.987984  52.452164  40.968071    9412423

[1191 rows x 6 columns],                   Open        High         Low       Close  Adj Close  \
Date
1996-01-01    0.794921    0.796679    0.791015    0.796679   0.549483
1996-01-02    0.794921    0.798828    0.793457    0.793457   0.547260
1996-01-03    0.798828    0.798828    0.798828    0.798828   0.550965
1996-01-04    0.791015    0.794921    0.791015    0.793554   0.547327
1996-01-05    0.784179    0.784179    0.784179    0.784179   0.540861
1996-01-08    0.784179    0.791015    0.785156    0.789062   0.544229
1996-01-09    0.789062    0.781250    0.771484    0.780273   0.538167
1996-01-10    0.780273    0.775390    0.771484    0.773437   0.533452
1996-01-11    0.779296    0.791015    0.773437    0.791015   0.545576
1996-01-12    0.787109    0.787109    0.781250    0.786621   0.542545
1996-01-15    0.776367    0.785156    0.776367    0.777832   0.536483
1996-01-16    0.777832    0.781250    0.712890    0.781250   0.538841
1996-01-17    0.781250    0.783203    0.771484    0.773828   0.533722
1996-01-18    0.773828    0.776367    0.769531    0.776367   0.535473
1996-01-19    0.771484    0.771484    0.768066    0.768554   0.530084
1996-01-22    0.771484    0.776367    0.771484    0.776367   0.535473
1996-01-23    0.767578    0.781250    0.767578    0.773925   0.533789
1996-01-24    0.773925    0.770507    0.752929    0.770507   0.531431
1996-01-25    0.770996    0.770996    0.767578    0.767578   0.529411
1996-01-26    0.767578    0.767578    0.767578    0.767578   0.529411
1996-01-29    0.765625    0.765625    0.763183    0.763183   0.526380
1996-01-30    0.763183    0.775390    0.771484    0.772460   0.532778
1996-01-31    0.772460    0.781250    0.767578    0.781250   0.538841
1996-02-01    0.781250    0.810546    0.781250    0.810546   0.559047
1996-02-02    0.810546    0.839843    0.810546    0.839746   0.579187
1996-02-05    0.839746    0.841796    0.820410    0.839843   0.579254
1996-02-06    0.839843    0.883789    0.839843    0.859375   0.592725
1996-02-07    0.859375    0.843750    0.833984    0.836523   0.576964
1996-02-08    0.849609    0.888671    0.849609    0.888671   0.612931
1996-02-09    0.888671    0.927734    0.830078    0.922558   0.636303
...                ...         ...         ...         ...        ...
2000-06-22  132.812500  134.265625  131.265625  133.009369  93.353455
2000-06-23  132.750000  132.750000  127.593750  129.050781  90.575104
2000-06-26  128.125778  128.125778  122.657814  126.299217  88.643867
2000-06-27  127.796875  129.826569  125.078125  127.460938  89.459251
2000-06-28  126.562500  129.062500  123.468750  128.387497  90.109558
2000-06-29  129.203125  135.140625  129.203125  131.101562  92.014427
2000-06-30  129.781250  130.468750  127.359375  129.850006  91.136032
2000-07-03  131.093750  134.671875  131.093750  134.117966  94.131508
2000-07-04  134.687500  137.468750  134.390625  136.716400  95.955238
2000-07-05  137.312500  137.687500  133.687500  134.382034  94.316856
2000-07-06  133.828125  133.828125  130.781250  132.316406  92.867088
2000-07-07  132.654694  134.685150  132.126556  132.619537  93.079826
2000-07-10  132.968750  133.750000  129.125000  129.634369  90.984665
2000-07-11  130.203125  133.203125  128.750000  129.269531  90.728607
2000-07-12  129.296875  131.234375  126.406250  130.649216  91.696938
2000-07-13  132.000000  133.280472  124.218750  125.486717  88.073616
2000-07-14  123.438278  125.593750  120.015625  121.407028  85.210266
2000-07-17  121.093750  122.185936  118.906250  120.196877  84.360893
2000-07-18  120.265625  120.296875  115.187500  116.477341  81.750328
2000-07-19  110.946877  116.875000  110.659378  114.454689  80.330704
2000-07-20  113.921875  115.225784  112.578125  114.800781  80.573624
2000-07-21  115.225784  117.343750  114.078125  114.832809  80.596115
2000-07-24  113.468750  113.468750  105.718750  107.059372  75.140266
2000-07-25  101.562500  113.203125   99.250000  111.225784  78.064514
2000-07-26  113.562500  114.046875  103.142967  104.001564  72.994125
2000-07-27  103.125000  107.015625   99.296875  106.050003  74.431847
2000-07-28  106.640625  110.390625  105.015625  106.957809  75.068977
2000-07-31  107.031250  107.953125  103.921875  105.644531  74.147293
2000-08-01  106.875000  107.781250  104.884377  105.439842  74.003586
2000-08-02  103.500000  104.031250  101.328125  103.548439  72.676102

              Volume
Date
1996-01-01    204800
1996-01-02    204800
1996-01-03    102400
1996-01-04    307200
1996-01-05     51200
1996-01-08    358400
1996-01-09    870400
1996-01-10    358400
1996-01-11    819200
1996-01-12    358400
1996-01-15    307200
1996-01-16    358400
1996-01-17    768000
1996-01-18    204800
1996-01-19    512000
1996-01-22    204800
1996-01-23    665600
1996-01-24    409600
1996-01-25    102400
1996-01-26         0
1996-01-29    102400
1996-01-30   1433600
1996-01-31    460800
1996-02-01    819200
1996-02-02   2355200
1996-02-05    819200
1996-02-06   1382400
1996-02-07    972800
1996-02-08    768000
1996-02-09   1382400
...              ...
2000-06-22  21713344
2000-06-23  22021824
2000-06-26  17510144
2000-06-27  19903872
2000-06-28  12160960
2000-06-29  16867520
2000-06-30  15405760
2000-07-03  21234432
2000-07-04  22397056
2000-07-05  15825792
2000-07-06  13693696
2000-07-07  16222208
2000-07-10  15590016
2000-07-11  26963328
2000-07-12  29184832
2000-07-13  27476480
2000-07-14  54850688
2000-07-17  26524928
2000-07-18  38106752
2000-07-19  30771840
2000-07-20  22578560
2000-07-21  28321024
2000-07-24  33885440
2000-07-25  49228288
2000-07-26  34172416
2000-07-27  39879680
2000-07-28  44182464
2000-07-31  21621248
2000-08-01  23805504
2000-08-02  26991616

[1190 rows x 6 columns],                  Open       High        Low      Close  Adj Close     Volume
Date
1996-01-01  18.691147  18.978922  18.540184  18.823240  12.848525   43733533
1996-01-02  18.894005  18.964767  17.738192  18.224106  12.439563   56167280
1996-01-03  18.327892  18.568489  17.643839  17.738192  12.107881   68296318
1996-01-04  17.502312  17.832542  17.223972  17.676863  12.066022   86073880
1996-01-05  17.738192  17.785366  17.459852  17.577793  11.998396   76613039
1996-01-08  17.478724  17.643839  16.922047  17.063574  11.647394   55395172
1996-01-09  16.889023  18.681711  16.705036  17.997660  12.284988   82057540
1996-01-10  17.407959  17.714603  17.054138  17.172079  11.721463   54360749
1996-01-11  16.983376  17.926895  16.983376  17.827826  12.169066   65973105
1996-01-12  17.879719  18.233540  17.573074  17.837261  12.175504  102152486
1996-01-15  18.021248  18.200518  17.785366  17.893871  12.214149   68169665
1996-01-16  17.903307  19.530882  17.785366  18.271280  12.471765   92497161
1996-01-17  17.856131  17.974072  17.455135  17.521181  11.959754   65477620
1996-01-18  17.318325  17.624969  17.124903  17.403240  11.879248   67620657
1996-01-19  17.290018  17.672146  17.290018  17.610815  12.020936   47652365
1996-01-22  17.738192  18.313740  17.700451  18.224106  12.439563   81512772
1996-01-23  18.389221  18.771347  18.162777  18.417526  12.571586  130297068
1996-01-24  17.832542  17.926895  17.351349  17.794804  12.146524   54484752
1996-01-25  18.115601  18.275997  17.879719  17.964636  12.262451   67701207
1996-01-26  17.964636  17.964636  17.964636  17.964636  12.262451          0
1996-01-29  18.162777  18.960051  18.073141  18.785500  12.822762   75689901
1996-01-30  19.059120  19.700714  18.587360  19.205366  13.109357   89163372
1996-01-31  18.776064  19.129885  18.214668  18.549620  12.661753   56831282
1996-02-01  18.422243  19.625233  18.422243  19.469551  13.289690   96599349
1996-02-02  19.861113  20.946161  19.719585  20.814070  14.207441  106010376
1996-02-05  21.087690  22.880381  21.087690  22.125563  15.102651  160942920
1996-02-06  22.455795  23.163437  21.795330  22.314266  15.231460  147345446
1996-02-07  21.597193  22.361443  20.757458  21.922707  14.964189   67480756
1996-02-08  21.988752  22.903969  21.578321  22.545429  15.389250   52796395
1996-02-09  22.762440  24.460777  22.352009  24.139980  16.477667   74580228
...               ...        ...        ...        ...        ...        ...
2000-06-22  21.177324  21.889683  20.993338  21.748156  15.974616   21212949
2000-06-23  22.017057  23.488951  22.017057  22.323704  16.397371   55661441
2000-06-26  22.172739  22.550148  21.191479  21.493404  15.787493   23789691
2000-06-27  21.512276  22.106693  21.347158  21.422640  15.735513   20266791
2000-06-28  21.512276  21.837790  21.257524  21.559450  15.836003   11676392
2000-06-29  21.700979  22.078386  21.559450  21.705696  15.943424   15207051
2000-06-30  21.469816  21.984035  21.323570  21.455664  15.759772   12689587
2000-07-03  21.682108  21.974600  21.512276  21.762308  16.162701   14888457
2000-07-04  21.889683  22.252939  21.800049  22.002907  16.341385   19835523
2000-07-05  22.267092  22.267092  21.861378  21.946295  16.299343   14339312
2000-07-06  21.795330  21.936859  21.469816  21.606627  16.047075    8316308
2000-07-07  21.795330  22.172739  21.663239  21.884966  16.253799   14988688
2000-07-10  21.965164  22.078386  21.347158  21.578321  16.026054   12247212
2000-07-11  21.417923  21.880247  21.370747  21.767025  16.166204   10042851
2000-07-12  21.889683  22.017057  21.559450  21.710415  16.124161   10075643
2000-07-13  21.795330  22.196327  21.229218  21.644367  16.075100   22258353
2000-07-14  21.512276  21.738720  21.182041  21.290546  15.812327   13467376
2000-07-17  21.229218  21.559450  21.002773  21.134867  15.696700   11982512
2000-07-18  21.040514  22.172739  21.040514  21.738720  16.145176   40897655
2000-07-19  21.748156  21.951012  20.875399  21.064102  15.644147   14818453
2000-07-20  21.078255  21.219784  20.545166  20.743305  15.405891   18257784
2000-07-21  20.851810  20.946161  20.483837  20.568754  15.276257   13027046
2000-07-24  20.427225  20.427225  18.733606  18.875134  14.018414   16063259
2000-07-25  18.587360  19.408222  17.832542  19.106297  14.190104   21089528
2000-07-26  19.342176  19.342176  18.209951  18.365633  13.640014   13450503
2000-07-27  18.280716  18.766628  17.936331  18.648689  13.850239   10102447
2000-07-28  18.804371  19.606363  18.681711  19.422377  14.424849   27046026
2000-07-31  19.191214  19.389353  18.823240  18.931746  14.060463    7811878
2000-08-01  19.011944  19.153473  18.610949  18.865700  14.011408   11954266
2000-08-02  18.681711  19.224237  18.610949  19.158190  14.228642    6314561

[1191 rows x 6 columns]]

In [56]:
stock_data = pd.concat(df, axis=1, ignore_index=False)
stock_data.head()

,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,
1996-01-01,15.859429,15.944529,15.754989,15.917452,10.509538,48051995,0.794921,0.796679,0.791015,0.796679,0.549483,204800.0,18.691147,18.978922,18.540184,18.823240,12.848525,43733533
1996-01-02,15.878770,15.956133,15.677626,15.793671,10.427812,77875009,0.794921,0.798828,0.793457,0.793457,0.547260,204800.0,18.894005,18.964767,17.738192,18.224106,12.439563,56167280
1996-01-03,16.052837,16.783918,15.878770,15.913584,10.506985,96602936,0.798828,0.798828,0.798828,0.798828,0.550965,102400.0,18.327892,18.568489,17.643839,17.738192,12.107881,68296318
1996-01-04,15.762726,15.813012,15.553845,15.766594,10.409933,100099436,0.791015,0.794921,0.791015,0.793554,0.547327,307200.0,17.502312,17.832542,17.223972,17.676863,12.066022,86073880
1996-01-05,15.704703,15.704703,15.522900,15.658285,10.338421,76935930,0.784179,0.784179,0.784179,0.784179,0.540861,51200.0,17.738192,17.785366,17.459852,17.577793,11.998396,76613039

In [102]:

stock_data1=stock_data['Adj Close']
stock_data1.head()

stock_data1.columns=lst
stock_data1.tail()

            Reliance.NS    Infy.NS    Sbin.NS
Date
2000-07-27    41.578369  74.431847  13.850239
2000-07-28    41.143307  75.068977  14.424849
2000-07-31    40.702209  74.147293  14.060463
2000-08-01    40.907654  74.003586  14.011408
2000-08-02    40.968071  72.676102  14.228642

In [58]:
stock_data1.iloc[0]

Reliance.NS    10.509538
Infy.NS         0.549483
Sbin.NS        12.848525
Name: 1996-01-01 00:00:00, dtype: float64

In [101]:
sec_returns = np.log(stock_data1 / stock_data1.shift(1))
sec_returns.head()

            Reliance.NS   Infy.NS   Sbin.NS
Date
1996-01-01          NaN       NaN       NaN
1996-01-02    -0.007807 -0.004053 -0.032347
1996-01-03     0.007564  0.006747 -0.027025
1996-01-04    -0.009280 -0.006624 -0.003463
1996-01-05    -0.006893 -0.011884 -0.005620

In [87]:
sec_returns['Reliance.NS'].mean()*250

0.2858213886311238

In [88]:
sec_returns['Reliance.NS'].std()*250**0.5

0.6310415603713606

In [92]:
#For getting security returns
# sec_returns['Reliance.NS'].mean() * 250
# sec_returns['Infy.NS'].mean() * 250

for i in lst:
    a=sec_returns[i].mean() * 250
    print ("Returns for {} on average in a year is around {} %".format(i,a*100))

Returns for Reliance.NS on average in a year is around 28.582138863112377 %
Returns for Infy.NS on average in a year is around 102.86029390640323 %
Returns for Sbin.NS on average in a year is around 2.143443665615045 %

In [97]:

sec_returns[['Reliance.NS', 'Infy.NS','Sbin.NS']].std() * 250 ** 0.5

Reliance.NS    0.631042
Infy.NS        0.514011
Sbin.NS        0.448240
dtype: float64

In [100]:
# Standard Deviation indicates the risk or volatility of the stock .
# A stock whose return shows a large deviation from its mean is said to be more volatile.

for i in lst:
    a=sec_returns[i].std() * 250 ** 0.5
    print ("Volatility of {} in a year is around {} %".format(i,a*100))

Volatility of Reliance.NS in a year is around 63.104156037136065 %
Volatility of Infy.NS in a year is around 51.40112308900582 %
Volatility of Sbin.NS in a year is around 44.82402596195783 %

In [103]:
#Calculating Covariance and Correlation

cov_matrix=sec_returns.cov()*250
cov_matrix

             Reliance.NS   Infy.NS   Sbin.NS
Reliance.NS     0.398213  0.074316  0.136723
Infy.NS         0.074316  0.264208  0.085282
Sbin.NS         0.136723  0.085282  0.200919

In [104]:
corr_matrix = sec_returns.corr()
corr_matrix

             Reliance.NS   Infy.NS   Sbin.NS
Reliance.NS     1.000000  0.229201  0.483361
Infy.NS         0.229201  1.000000  0.370025
Sbin.NS         0.483361  0.370025  1.000000

In [125]:
#Calculating portfolio risk / Volatility

#weights = np.array([0.3,0.3,0.3])
weights=np.array([])
sum=0
for i in range(len(lst)):
    a=float(input("Enter the weightage(in float) you wanna give for {}  :".format(lst[i])))
    weights=np.append(weights,[a])
    sum+=a
    
print (weights)

if (sum==1):
    
   
    #Portfolio variance

    pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
    print("Portfolio Variance : ",pfolio_var)

    #Portfolio Volatility

    pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
    print("Portfolio Volatility : ",pfolio_vol)
    
else:
    print ("Please enter the weight with sum equivalent to 1 !!")

Enter the weightage(in float) you wanna give for Reliance.NS  :0.4
Enter the weightage(in float) you wanna give for Infy.NS  :0.5
Enter the weightage(in float) you wanna give for Sbin.NS  :0.1
[0.4 0.5 0.1]
1.0
Portfolio Variance :  0.1809676012201543
Portfolio Volatility :  0.42540286931349475

In [119]:
print ("Portfolio Volatility : {} ".format(str(round(pfolio_vol, 5) * 100) + ' %'))

Portfolio Volatility : 44.082 %